RPC_URL_PRIMARY=https://mainnet.base.org
RPC_URL_FALLBACK_1=https://base.llamarpc.com
RPC_URL_FALLBACK_2=https://rpc.ankr.com/base
RPC_URL_FALLBACK_3=https://base-rpc.publicnode.com

RESETTER_PRIVATE_KEY=
RESETTER_POLL_INTERVAL_MS=3000
RESETTER_MIN_TX_GAP_MS=2500
RESETTER_VRF_TIMEOUT_MS=3600000
RESETTER_GAS_BUMP_BPS=13000
RESETTER_GAS_RETRY_STEP_BPS=2000
RESETTER_MIN_MAX_FEE_GWEI=0.05
RESETTER_MIN_PRIORITY_FEE_GWEI=0.01

GRID_MINING_ADDRESS=0xA8E2F506aDcbBF18733A9F0f32e3D70b1A34d723
